@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Montserrat, sans-serif;
}

input {
  @apply border;
  @apply rounded;
  @apply px-2;
  @apply py-1;
}

.bg-background {
  background-color: var(--color0);
}

.bg-primary {
  background: var(--color1);
}

.bg-success {
  @apply bg-green-600;
  @apply text-white;
}

.border-primary {
  border-color: var(--color1);
}

.table {
  width: 100%;

  >thead>tr {
    @apply bg-gray-800;
    @apply text-white;
  }

  td {
    text-align: center;
    padding: 12px;
  }
}

.btn {
  @apply bg-gray-200;
  @apply rounded;

  padding: 4px 12px;
  transition: 0.4s;

  &.btn-primary {
    background-color: var(--color1);
    @apply text-white;
  }

  &.btn-success {
    @apply bg-green-600;
    @apply text-white;

    &:hover {
      @apply bg-green-500;
    }
  }

  &.btn-danger {
    @apply bg-red-400;
    @apply text-white;
  }
}

a[href] {
  color: #0878dd;
}